<div class="container-fluid">
	
	<div class="topbar">

	</div>
		
	<div class="content">
		
		<div class="block mainblock">
		
		<%= link_to "Colors", colors_path %>
		
		</div>
	
		<div class="block secondblock">
		
		</div>
			
	
	</div>
	
</div>